.w_head {
  background-color: white !important;
  a {
    color: black !important;
  }
}
.layui-body {
  background-color: rgb(242, 242, 242);
  .w_box1 {
    display: flex;
    margin: 20px;
    .w_box1_div {
      //   height: 200px;
      background-color: white;
      flex: 1;
      margin-right: 20px;
      h1 {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        border-bottom: black 1px solid;
        position: relative;
        ul {
          position: absolute;
          top: 20px;
          right: 10px;
          display: flex;
          li {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            margin-right: 10px;
            background-color: blanchedalmond;
          }
          .w_box_h1_li {
            background-color: gray;
          }
        }
      }
      .w_box1_ul {
        margin: 10px;
        overflow: hidden;
        text-align: center;
        li {
          box-sizing: border-box;
          float: left;
          width: 23%;
          height: 25%;
          margin: 3px;
          i {
            display: inline-block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 30px;
            background-color: rgb(242, 242, 242);
          }
        }
      }
      .w_box2_ul {
        margin: 10px;
        overflow: hidden;
        li {
          float: left;
          width: 40%;
          height: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          background-color: rgb(242, 242, 242);
          padding-left: 20px;
          margin: 3px;
          p:nth-of-type(1) {
            font-size: 12px;
          }
          p:nth-of-type(2) {
            font-size: 30px;
            color: green;
          }
        }
      }
    }
    .w_box1_div:nth-of-type(3) {
      margin-right: 0px;
      div {
        width: 90%;
        margin: auto;
      }
    }
  }
  .w_box2_div {
    flex: 2;
    // width: 830px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 0;
    .layui-card-body {
      height: 250px;
    }
  }
  .w_box2_cum {
    flex: 1;
    // width: 405px;
    height: 350px;
    .layui-card {
      height: 165px;
      .layui-card-body {
        .w_p_h1 {
          display: flex;
          justify-content: space-between;
          p {
            margin-bottom: 5px;
            font-size: 25px;
          }
        }
        .layui-progress {
          margin-bottom: 20px;
        }
      }
    }
  }
  .w_layui-table {
    width: 100% !important;
  }

  .w_box3 {
    display: flex;
    .layui-card:nth-of-type(1) {
      // width: 830px;
      height: 350px;
      margin-right: 20px;
      flex: 2;
    }
    .layui-card:nth-of-type(2) {
      // width: 405px;
      height: 350px;
      flex: 1;
    }
  }
  #w_main2 {
    display: flex;
    .layui-table_ {
      flex: 1;
      height: 280px;
      width: 210px !important;
    }
    iframe {
      flex: 1;
      display: block;
      box-sizing: border-box;
      height: 300px;
    }
  }
}
